html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}
img {
    border: 0;
}
:focus {
    outline: 0;
}
.clear {
    clear: both;
}

/* Weather App Css Codes */
body {
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

html, body, #root, .app {
	height: 100%
}

.app {
	display: flex;
	justify-content: center;
	align-items: center;
}

.app .search {
	position: absolute;
	margin: 0 auto;
	top: 3%;
}

.app .search input[type="text"] {
    width: 300px;
	height: 30px;
    padding: 6px;
    border: 1px dashed #fff;
    box-shadow: 3px 0px 3px #fff;
}

.app .weather-infos {
	display: flex;
	flex-direction: column;
	background-image: url('../img/mountain.jpg');
	background-repeat: no-repeat;	
	background-position: bottom;
	background-size: cover;
	width: 70%;
	height: 80%;
}

.app .weather-infos .top {
	display: flex;
	flex: 3;
	flex-direction: row;	
	justify-content: space-around;
	padding-top: 70px;
}

.app .weather-infos .top .hours .hour {
	color: white;
	font-size: 8rem;	
}

@media only screen and (max-width: 750px) {
	.app .weather-infos .top .hours .hour {		
		font-size: 3rem;	
	}
}

.app .weather-infos .top .hours .noon-token {
	color: white;
	font-size: 30px;
	padding-left: 20px;
}

.app .weather-infos .top .region {
	margin-top: 5rem;	
}

.app .weather-infos .top .region .city {
	color: white;
	font-size: 2.5rem;	
}

.app .weather-infos .top .region .country {
	color: white;
	font-size: 20px;
	text-align: end;
}

.app .weather-infos .bottom {	
	flex: 2;	
	background: rgba(0, 13, 56, 0.7);
}

.app .weather-infos .bottom .weather-status {
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
}

.app .weather-infos .bottom .weather-status .today {
	display: flex;
	flex-direction: row;
	width: 35%;	
}

.app .weather-infos .bottom .weather-status .today .details {
	margin-top: 20px;
	padding-left: 1rem;	
}

.app .weather-infos .bottom .weather-status .today .details p {
	color: white;
	font-size: 24px;
}

.app .weather-infos .bottom .weather-status .today .details p.day {
	margin-bottom: 10px;
}

.app .weather-infos .bottom .weather-status .today img {
	width: 25%;	
}
